<footer class="footer">
  <small>
    The Sample App by Micah White. A project for <a href="http://flatironschoo.com">Flatiron School</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://flatironschool.com">News</a></li>
    </ul>
  </nav>
</footer>